@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,500;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:wght@200;300;500;800&display=swap");
.tamanio, .section__tips, .section__index {
  width: 70vw;
  min-width: 350px;
}

.sombra {
  background: rgb(255, 228, 225);
  background: linear-gradient(180deg, rgb(255, 228, 225) 0%, rgb(210, 155, 155) 100%);
}

.gradient-box, .section__tips .section__tips-box, .box__info .section__info, .section__index .box__index {
  border-radius: 15px;
  background: linear-gradient(142deg, #F0AEAA 0%, rgba(255, 255, 255, 0) 33%, rgba(255, 255, 255, 0) 63%, #F0AEAA 100%);
}

.box__redes {
  border: solid 4px #3a3a3a;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
  background: linear-gradient(to bottom, transparent, mistyrose);
  height: 250px;
  width: 250px;
}
.box__redes img {
  max-height: 150px;
  max-width: 150px;
  margin: 30px;
}

.academia {
  font-family: "Work Sans", sans-serif;
  text-decoration: underline;
  font-size: 200%;
  text-align: center;
  color: #381a05;
  margin-bottom: 50px;
  margin-top: 100px;
}
.academia iframe {
  height: 450px;
  width: 500px;
  padding: 50px;
  min-width: 350px;
  min-height: 150px;
}

.form {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
  border: solid 1px grey;
  border-radius: 5px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}
.form .label {
  display: block;
  margin-bottom: 10px;
  margin: 0 auto;
}
.form .input {
  display: block;
  margin-bottom: 10px;
  margin: 0 auto;
}
.form .edad {
  width: 50px;
  margin-left: 43px;
}
.form .enviar {
  background-color: #D69B98;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 5px;
  border: solid 1.5px grey;
}

.pie_pagina {
  background: linear-gradient(to bottom, transparent, #F0AEAA);
}

.redes li a img {
  height: 40px;
}

.footer_izquierda li a {
  color: #3a3a3a !important;
}

header nav ul li {
  width: 200px;
  min-width: 60px;
  background-color: #ffe4e1;
}
header nav ul li:hover {
  background: rgb(255, 228, 225);
  background: linear-gradient(180deg, rgb(255, 228, 225) 50%, rgb(250, 198, 198) 100%);
}
header nav ul li a {
  color: #3a3a3a;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
header nav ul li a:hover {
  color: rgb(100, 100, 100);
  text-decoration: underline !important;
}

.active {
  background: rgb(255, 228, 225);
  background: linear-gradient(180deg, rgb(255, 228, 225) 50%, rgb(250, 198, 198) 100%);
}
.active a {
  text-decoration: underline !important;
  color: rgb(100, 100, 100) !important;
}

.carrusel__index {
  width: 80vw;
  max-height: 20vh;
  margin: 0 auto;
}

.section__index .box__index .row .box__img_index .img_inicio {
  width: 300px;
  height: 400px;
  object-fit: cover;
  margin-bottom: 10px;
}
.section__index .box__index .row .section__index-titulo {
  font-family: "Work Sans", sans-serif, ExtraLight 200;
  font-weight: lighter;
  color: black;
  font-size: 20px;
}
.section__index .box__index .row .section__index-titulo:hover {
  background-color: #ffe4e1;
}
.section__index .box__index .row .section__index-texto {
  font-family: "Libre Baskerville", serif;
  font-size: 15px;
}

.box__info {
  margin: 0 auto;
  width: 80vw;
}
.box__info .img__info {
  max-height: 400px;
  max-width: 500px;
  object-fit: contain;
}
.box__info .text__info {
  font-family: "Libre Baskerville", serif;
  margin: 0 auto;
  padding-bottom: 10px;
}

.box__recetas {
  border: solid 3px #808080;
  border-radius: 5px;
  border-start-start-radius: 0px;
  padding: 5%;
  width: 40vw;
  margin-bottom: 50px;
  min-width: 200px;
}
.box__recetas a {
  text-decoration: none;
  color: #b46b41;
  font-family: "Barlow", sans-serif;
  text-align: center;
}
.box__recetas a:hover {
  text-decoration: underline;
}
.box__recetas .box__recetas-img {
  border-radius: 200px;
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.box__recetas .box__recetas-img:hover {
  animation: recetas 0.6s;
}

.tips__imagen-tamanio {
  max-width: 300px;
  min-height: 150px;
  min-width: 150px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.lista__tips {
  list-style-type: "🌸";
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

body {
  background-color: whitesmoke;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  color: #474843;
  font-weight: bold;
  font-size: 48px;
  background: rgb(255, 228, 225);
  background: radial-gradient(circle, rgb(255, 228, 225) 0%, rgba(148, 187, 233, 0) 36%);
}

header h2 {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 28px;
  font-weight: normal;
  color: #999;
  margin-top: 0px;
}

.container__titulo {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  gap: 0;
}

.titulos {
  font-family: "Barlow", sans-serif;
  text-align: center;
  text-decoration: underline;
  font-size: 200%;
  margin: 50px;
}

.titulobox__recetas {
  background-color: #F0AEAA;
  border-start-start-radius: 15px;
  border-top-right-radius: 15px;
  width: 200px;
  height: 30px;
}
.titulobox__recetas h4 {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  text-decoration: underline;
  font-size: 110%;
  color: #381a05;
}

.subtitulo__tips {
  font-family: "Work Sans", sans-serif, ExtraLight 200;
  font-weight: lighter;
}

.titulo__tip {
  text-align: center;
  height: 40px;
  font-family: "Work Sans", sans-serif;
  font-size: 30px;
  margin: 0 auto;
}

.subtitulo__tip {
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
}

.titulo__form {
  font-family: "Barlow", sans-serif;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
  color: #705150;
}

@media (max-width: 991px) {
  .box__recetas {
    width: 40vw;
  }
}
@media (max-width: 576px) {
  .nav__text {
    font-size: 16px;
  }
  header h2 {
    font-size: 20px;
  }
  .titulos {
    font-size: 150%;
    margin: 25px;
  }
  .titulo__tip {
    font-size: 20px;
    padding-bottom: 5px;
  }
  .subtitulo__tip {
    font-size: 13.5px;
  }
  .lista__tips {
    font-size: 11.5px;
  }
  .text__info {
    font-size: 16px;
  }
  .academia iframe {
    width: 300px;
    height: 400px;
  }
  .box__recetas {
    width: 90vw;
  }
  .section__info {
    padding: 20px !important;
  }
}
@keyframes recetas {
  1% {
    height: 150px;
    width: 150px;
  }
  33% {
    height: 120px;
    width: 120px;
  }
  66% {
    height: 180px;
    width: 180px;
  }
  100% {
    height: 150px;
    width: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
