@keyframes recetas{
    1%{
        height: 150px;
        width: 150px;
    }
    33%{
        height: 120px;
        width: 120px;
    }
    66%{
        height: 180px;
        width: 180px;
    }
    100%{
        height: 150px;
        width: 150px;
    }
}