.pie_pagina {
    background: linear-gradient(to bottom, transparent, #F0AEAA);
}
.redes {
    li{
        a{
           img{
                height: 40px;
           }
        }
    }
}
.footer_izquierda{
    li{
        a{
            color: #3a3a3a !important;
        }
    }
}