header {
    nav{
        ul{
            li{
                width: 200px;
                min-width: 60px;
                background-color: map-get($paleta, 'primario' );

                &:hover {
                    background: rgb(255,228,225);
                    background: linear-gradient(180deg, rgba(255,228,225,1) 50%, rgba(250,198,198,1) 100%);
                    
                }
                a{
                    color: map-get($map: $paleta, $key: 'cuarto');
                    font-family: 'Roboto', sans-serif;
                    font-size: $f-size;

                    &:hover {
                        color: rgb(100, 100, 100);
                        text-decoration: underline !important;
                        }
                }
            }
        }
    }
}
.active {
    background: rgb(255,228,225);
    background: linear-gradient(180deg, rgba(255,228,225,1) 50%, rgba(250,198,198,1) 100%) ;
    a {
        text-decoration: underline !important;
        color: rgb(100, 100, 100)!important;
    }
}
