@media (max-width: 991px) {
    .box__recetas {
        width: 40vw;
    }
    
}

@media (max-width: 576px) {
    .nav__text{
        font-size: 16px;
    }
    
    header {
        h2{
            font-size: $f-size;
        }
    }

    .titulos {
        font-size: 150%;
        margin: 25px;
    }

    .titulo__tip {
        font-size: $f-size;
        padding-bottom: 5px;
    }

    .subtitulo__tip {
        font-size: ($f-size-res + 2);
    }

    .lista__tips {
        font-size: $f-size-res;
    }

    .text__info {
        font-size: 16px;
    }

    .academia {
        iframe {
          width: 300px;
          height: 400px;
        }
      }
    
    .box__recetas {
        width: 90vw;
    }

    .section__info {
        padding: 20px !important;
    }
}
