h1 {
    text-align: $center;
    font-family: 'Libre Baskerville', serif;
    color: #474843;
    font-weight: bold;
    font-size: 48px;
    background: rgb(255,228,225);
    background: radial-gradient(circle, rgba(255,228,225,1) 0%, rgba(148,187,233,0) 36%);
}
header {
    h2{
        text-align: $center;
        font-family: 'Libre Baskerville', serif;
        font-style: italic;
        font-size: 28px;
        font-weight: normal;
        color: #999;
        margin-top: 0px;
    }
}
.container__titulo {
    max-width: 800px;
    margin: $m-auto;
    padding: 20px;
    gap: 0;
  }
.titulos {
    font-family: 'Barlow', sans-serif;
    text-align: $center;
    text-decoration: underline;
    font-size: 200%;
    margin: 50px
}
.titulobox__recetas {
    background-color: map-get($map: $paleta, $key:'primario' );
    border-start-start-radius: 15px;
    border-top-right-radius: 15px;
    width: 200px;
    height: 30px;
    h4 {
        text-align: center;
        font-family: 'Work Sans', sans-serif;
        text-decoration: underline;
        font-size: 110%;
        color: #381a05;
    }
}
.subtitulo__tips {
    font-family: 'Work Sans', sans-serif, ExtraLight 200;
    font-weight: lighter;
}
.titulo__tip {
    text-align: $center;
    height: 40px;
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
    margin: $m-auto;
  } 
.subtitulo__tip {
    font-family: 'Libre Baskerville', serif;
  }